<div class="advantages">
    <div class="container">
        <h2>ЗАКАЗАТЬ ЦВЕТЫ С ДОСТАВКОЙ В САНКТ-ПЕТЕРБУРГЕ</h2>
        <div class="advantages__wrap">
            [[$AdvantagesItem?
                &title = `По телефону`
                &text = `<p>Закажите обратный звонок или позвоните нам. Подберем букет под нужный повод и ваш бюджет.</p>`
                &img = `1.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Через сайт`
                &text = `<p>Если вам понравился конкретный букет – добавьте его в карточку заказа и укажите необходимые данные для оформления заказа. Для экономии времени - воспользуйтесь формой быстрого заказа, где нужно указать имя и телефон. Оператор перезвонит вам для подтверждения заказа.</p>`
                &img = `2.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Через мессенджеры`
                &text = `<p>Если нет возможности говорить по телефону, напишите ваш вопрос нам в Whats App, Telegram или Viber. Консультант ответит уже через несколько секунд и оформит заказ</p>`
                &img = `3.svg`
            ]]
            [[$AdvantagesItem?
                &title = `В магазине`
                &text = `<p>Если хотите лично выбрать букет и заказать доставку цветов, то приходите в наши салоны в Санкт-Петербурге</p>`
                &img = `4.svg`
            ]]
        </div>
    </div>
</div>
