<div class="advantages">
    <div class="container">
        <h2>Наши преимущества</h2>
        <div class="advantages__wrap">
            [[$AdvantagesItem?
                &title = `Доставка`
                &text = `<p>Доставка осуществляется до подъезда/входа в здание, подъем на этаж/в квартиру и сборка мебели, кресел и стульев в данную стоимость не входит. Вся офисная мебель, кресла и стулья поставляются в разобранном виде в коробке</p>`
                &img = `1.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Гарантия`
                &text = `<p>На все товары, представленные в нашем магазине, распространяется гарантия производителя. При обнаружении брака товара свяжитесь с нашей сервисной службой или направьте нам, не позднее, чем через 10 дней после принятия товара.</p>`
                &img = `2.svg`
            ]]
            [[$AdvantagesItem?
                &title = `Доставка`
                &text = `<p>В нашем интернет-магазине принимаются следующие формы оплаты:</p>
                <ul>
                <li>Оплата наличными</li>
                <li>Оплата по безналичному расчету</li>
                <li>Оплата наличными через сберкарту</li>
                <li>Оплата по квитанции.</li>
                </ul>`
                &img = `3.svg`
            ]]
        </div>
    </div>
</div>
