<div class="article__other">
    <div class="container">
        <div class="article__other_title">
            <h3>Другие статьи</h3>
            <a href="[[#[[*parent]].uri]]">Смотреть все</a>
        </div>
        <div class="article__other_items">
            <div class="rows">
                [[!pdoPage?
                    &parents=`[[*parent]]`
                    &limit=`4`
                    &tpl=`ArticleTeaser`
                    &includeTVs=`Article_img_small`
                    &sortby=`RAND()`
                ]]
            </div>
        </div>
    </div>
</div>