<script src='/assets/template/js/main.js'></script>
<script src="/assets/template/js/callback.js"></script>
<script src="/assets/template/js/preloader.js"></script>
<script src="/assets/template/js/burger.js"></script>
<script src="/assets/template/js/search.js"></script>
<script src='/assets/template/js/toup.js'></script>
<script src="/assets/template/js/basket.js"></script>
<script src="/assets/template/js/filter.js"></script>
<script src="/assets/template/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/template/js/jquery-input-mask-phone-number.js"></script>

<link rel="stylesheet" href="/assets/template/css/index.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/magnific-popup.css" type="text/css">