[[MinifyX?
	&minifyCss=`1`
	&registerCss=`1`
	&cssSources=`
		[[++assets_url]]template/css/magnific-popup.css
	`
	&minifyJs=`1`
	&registerJs=`1`
	&jsSources=`
		[[++assets_url]]template/js/jquery.magnific-popup.min.js,
		[[++assets_url]]template/js/jquery-input-mask-phone-number.js,
		[[++assets_url]]template/js/preloader.js
	`
]]

<script src='/assets/template/js/main.js'></script>
<script src="/assets/template/js/callback.js"></script>
<script src="/assets/template/js/slider.js"></script>
<script src="/assets/template/js/preloader.js"></script>
<script src="/assets/template/js/burger.js"></script>
<script src="/assets/template/js/search.js"></script>
<script src='/assets/template/js/toup.js'></script>
<script src="/assets/template/js/basket.js"></script>
<script src="/assets/template/js/carouselitems.js"></script>
<script src="/assets/template/js/catalogitems.js"></script>
<script src="/assets/template/js/catalogmenu.js"></script>
<script src="/assets/template/js/productitem.js"></script>
<script src="/assets/template/js/filter.js"></script>

<link rel="stylesheet" href="/assets/template/css/index.css" type="text/css">