<div class="burger">
    <div class="container">
         <div class="burger-cont">
            <div class="burger-bl">
                <a href="/">[[IncSvg? &svg=`logo.svg`]]</a>
                
            </div>
            <div class="burger-bl">
                <div class="burger-contact">
                    <a href="tel:88005558820">8 800 555-88-20</a>
                </div>
                <div class="burger-btn ">[[IncSvg? &svg=`elements/close.svg`]]
            </div>
        </div>
        <div class="burger-menu">
            [[pdoMenu? 
                &parents =`0`
                &sortBy = `{"menuindex":"ASC"}`
                &tplParentRow = `@INLINE <li [[+classes]]><a href="javascript:void(0);" class="nopreload">[[+menutitle]]</a>[[+wrapper]]</li>`
            ]]
        </div>
    </div>
</div>