<div class="callback_b2b">
    <div class="container">
        <div class="callback__wrap">
        	<div class="callback__form_b2b_block callback__form">
				<h2>[[+title]]</h2>
				<div class="form__callback_error"></div>
				<form action="POST" id="callback__form_b2b_[[+count]]" class="callback__form_b2b">
					<div class="form__callback_form-group">
						<label for="phone_input_[[+count]]" class="form__group_label">Введите вашу почту</label>
						<input type="text" name="email" id="email_input_[[+count]]" class="callback__form_input callback__form_input_email">
						<p>На эту почту мы направим Вам выгодное предложение</p>
					</div>
				    <div class="form__callback_form-group">
						<label for="email_input_[[+count]]" class="form__group_label">Введите ваш телефон</label>
						<input type="text" name="phone" id="phone_input_[[+count]]" class="callback__form_input callback__form_input_phone">
						<p>По этому номеру наш менеджер позвонит, чтобы убедиться, что Вы получили предложение</p>
					</div>
					<div class="form__callback_form-group">
						<button type="submit" class="callback__form_button">Получить предложение </button>
						<p>Заявка Вас ни к чему не обязывает. Вы можете отказаться в любой момент</p>
					</div>
				</form>
			</div>
        </div>
    </div>
</div>
