<div class="callback [[+class:notempty=`[[+class]]`]]">
	[[+pop:isnot=`true`:then=`<div class="container">`]]
        <div class="callback__wrap [[+class:notempty=`[[+class]]`]]__wrap">
        	<div class="callback__form_block">
				<h2 class="h1">[[+title:empty=`СОСТАВИМ ИНДИВИДУАЛЬНЫЙ БУКЕТ ЦВЕТОВ, С УЧЕТОМ ВАШИХ ПОЖЕЛАНИЙ И НА НУЖНУЮ СУММУ`:else=`[[+title]]`]]</h2>
				<div class="form__callback_error"></div>
				<form action="POST" class="callback__form" id="callback__form_[[+class]]">
				    <div class="form__callback_form-group">
                        <label class="form__group_label">Ваш телефон</label>
                        <input type="text" name="phone" class="callback__form_input callback__form_input_phone">
                    </div>
					<button type="submit" class="callback__form_button">Заказать</button>
				</form>
			</div>
        </div>
	[[+pop:isnot=`true`:then=`</div>`]]
</div>
