<div class="callback">
    <div class="container">
        <div class="callback__wrap">
        	<div class="callback__form">
				<h2>СОСТАВИМ ИНДИВИДУАЛЬНЫЙ БУКЕТ ЦВЕТОВ, С УЧЕТОМ ВАШИХ ПОЖЕЛАНИЙ И НА НУЖНУЮ СУММУ</h2>
				<div class="form__callback_error"></div>
				<form action="POST" id="callback__form">
				    <div class="form__callback_form-group">
                        <label class="form__group_label">Ваш телефон</label>
                        <input type="text" name="phone" class="callback__form_input callback__form_input_phone">
                    </div>
					<button type="submit" class="callback__form_button">Заказать</button>
				</form>
			</div>
        </div>
    </div>
</div>
