<div class="carousel__main_item">
    <div class="main__item_toplink">
        <a href="[[+uri]]" title='[[+pagetitle]]'>[[IncSvg? &svg=`elements/arrow.svg`]]</a>
    </div>
    <div class="main__item_notification">
        [[+old_price:gt=`[[+price]]`:then=`<p>Скидка</p>`]]
        [[+popular:is=`1`:then=`<p>Популярный</p>`]]
        [[+favorite:is=`1`:then=`<p>Хит</p>`]]
        [[+new:is=`1`:then=`<p>Новинка</p>`]]
    </div>
    <div class="main__item_content">
        <div class="main__item_img">
            <a href="[[+uri]]" title='[[+pagetitle]]'><img src="[[+image]]" alt="[[+pagetitle]]" title="[[+pagetitle]]"></a>
        </div>
        <div class="main__item_title">
            <a href="[[+uri]]"><h3>[[+pagetitle]]</h3></a>
            <p class="price">[[+price]] руб.</p>
        </div>
    </div>
</div>