<div class="item_slick_wrap">
    <div class="catalog__main_item">
        <div class="main__item_img">
            <a href="[[+uri]]" title='[[+pagetitle]]'><img src="[[+image]]" alt="[[+pagetitle]]" title="[[+pagetitle]]"></a>
        </div>
        <div class="main__item_content">
            <div class="main__item_title">
                <a href="[[+uri]]" title='[[+pagetitle]]'> <h2>[[+pagetitle]]</h2></a>
            </div>
            <div class="main__item_article">
                <p>Артикул [[+article]]</p>
            </div>
            <div class="main__item_price_block">
                <div class="main__item_price">
                    <p class="price">[[+price]] <span>руб.</span></p>
                </div>
                <div class="main__item_link">
                    <form class="ms2_form product__item_form" method="post">
                        <input type="number" name="count" id="product_price" hidden="hidden" value="1">
                        <input type="hidden" name="id" value="[[+id]]">
                        <button type="submit" class="buy ui-disabled" name="ms2_action" value="cart/add">Купить</button>
                    </form>
                </div>
                <div class="main__item_fast_buy">
                    <a class="button nopreload fast_buy_button" href="#fast_buy_modal" title='[[+pagetitle]]' data-id="[[+id]]" data-title="[[+pagetitle]]">Быстрый заказ</a>
                </div>
            </div>
        </div>
    </div>
</div>
