<div class="catalog__main_item">
    <div class="main__item_notification">
        [[+old_price:gt=`[[+price]]`:then=`<p>Скидка</p>`]]
        [[+popular:is=`1`:then=`<p>Популярный</p>`]]
        [[+favorite:is=`1`:then=`<p>Хит</p>`]]
        [[+new:is=`1`:then=`<p>Новинка</p>`]]
    </div>
    <div class="main__item_img">
        <a href="[[+uri]]" title='[[+pagetitle]]'><img src="[[+image]]" alt="[[+pagetitle]]" title="[[+pagetitle]]"></a>
    </div>
    <div class="main__item_content">
        <div class="main__item_title">
            <a href="[[+uri]]" title='[[+pagetitle]]'> <h2>[[+pagetitle]]</h2></a>
        </div>
        <div class="main__item_article">
            <p>Артикул [[+article]]</p>
        </div>
        <div class="main__item_price_block">
            <div class="main__item_price">
                <p class="price">[[+price]] <span>руб.</span></p>
            </div>
            <div class="main__item_link">
                <a class="button" href="[[+uri]]" title='[[+pagetitle]]'>Купить</a>
            </div>
            <div class="main__item_fast_buy">
                <a class="button" href="[[+uri]]" title='[[+pagetitle]]'>Быстрый заказ</a>
            </div>
        </div>
    </div>
</div>