<div class="cause">
    <div class="container">
        <div class="cause__title">
            <h2>Шесть причин работать с нами</h2>
        </div>
        <div class="cause__subtitle">
            <p>Корпоративные клиенты получают удобные и выгодные решения <br> для приобретения авторских цветочых композиций и букетов</p>
        </div>
        <div class="cause__block">
            <div class="cause__block_item">
                <img src="" alt="">
                <div class="cause__block_item_text">
                    <h3>Гарантия свежести цветов</h3>
                    <p>Прямые поставки, свежесрезанных цветов со всего мира. Оптовые склады на территории Санкт-Петербурга</p>
                </div>
            </div>
            <div class="cause__block_item">
                <img src="" alt="">
                <div class="cause__block_item_text">
                    <h3>Высокое качество исполнения</h3>
                    <p>Профессиональные флористы подбирают оформление в соответствии с характером мероприятия, учитывая все ваши пожелания</p>
                </div>
            </div>
            <div class="cause__block_item">
                <img src="" alt="">
                <div class="cause__block_item_text">
                    <h3>Индивидуальный подход</h3>
                    <p>Персональный менеджер разработает предложение для вашей организации, под любой бюджет и предоставит информацию по всем вопросам</p>
                </div>
            </div>
            <div class="cause__block_item">
                <img src="" alt="">
                <div class="cause__block_item_text">
                    <h3>Удобство работы</h3>
                    <p>Оплата заказов по безналичному расчету. Полный комплект документов для бухгалтерии. Ведем календарь дат и событий Вашей компании</p>
                </div>
            </div>
            <div class="cause__block_item">
                <img src="" alt="">
                <div class="cause__block_item_text">
                    <h3>Выгодные цены</h3>
                    <p>Партнерские отношения с крупнейшими поставщиками цветов, позволяют нам удерживать ценовую политику на низком уровне</p>
                </div>
            </div>
            <div class="cause__block_item">
                <img src="" alt="">
                <div class="cause__block_item_text">
                    <h3>Своевременная доставка</h3>
                    <p>Благодаря совим курьерам, доставка осуществляется оператино, в любой район города</p>
                </div>
            </div>
        </div>
    </div>
</div>