<div class="content__block">
    <div class="container">
        <div class="content__block_title">
            <h2>Мы в Instagram</h2>
        </div>
    </div>
    <div class="content__block_img">
        <img src="/assets/template/images/content/topimg.png" alt="">
    </div>
    <div class="content__block_text">
        <div class="container">
            <div class="text_wrap">
                <div class="wrap_left">
                    [[*content]]
                </div>
                <div class="wrap_right">
                    <img src="/assets/template/images/content/leftimg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>