<footer>
    <div class="container">
        <div class="footer">
            <div class="footer__left">
                <div class="footer__left_address">
                    <p>НАШИ МАГАЗИНЫ В САНКТ-ПЕТЕРБУРГЕ:</p>
                    <ul>
                        <li>ул. Благодатная, 30 (м. Электросила)</li>
                        <li>ул. Фурштатская, 46Б (м. Чернышевская)</li>
                    </ul>                    
                </div>
                <div class="footer__left_info">
                    <p>Цветочная мастерская BANT – круглосуточная доставка уникальных букетов и подарков <br> © 2015-2019 BANT <a href="#">Карта сайта</a></p>
                    <p>Заполняю любую форму на сайте, Вы соглашаетесь с <a href="[[~14]]">политикой конфиденциальности,</a></p>
                    <p>Предоставленные на сайте данные имеют информационный характер и не являются публичной офертой. </p>
                </div>
            </div>
            <div class="footer__center">
                [[pdoMenu?
                    &parents=`0`
                    &resources=`154,155,156,166,157`
                ]]
            </div>
            <div class="footer__right">
                <div class="footer__right_contact">
                    [[#1.SitePhone]]
                    <button class="popup-btn popup_callback">Заказать звонок</button>
                </div>
                <div class="footer__right_social">
                    <p>Bant в социальных сетях</p>
                    [[$SocialBlock]]
                </div>
            </div>
        </div>
    </div>
</footer>

