<header>
    [[#1.notification:notempty=`
        <div class="header__notification">
            <div class="container">
                <p>[[#1.notification]]</p>
            </div>
        </div>
    `]]
    <div class="container">
        <div class="header">
            <div class="header__top">
                <nav class="header__top_menu">
                    [[pdoMenu?
                        &parents=`0`
                        &resources=`154,155,156,157`
                    ]]
                </nav>
                <div class="header__top_social">
                    [[$SocialBlock]]
                </div>
                <div class="header__top_basket">
                    [[IncSvg? &svg=`elements/basket.svg`]]
                    [[!msMiniCart?
                        &tpl = `MiniCart`
                    ]]
                    <a href="[[~3]]">Корзина</a>
                </div>
            </div>
            <div class="header__middle">
                <div class="header__middle_logo">
                    <a href="/">[[IncSvg? &svg=`logo.svg`]]</a>
                </div>
                <div class="header__middle_title">
                    <p>Заказать цветы с доставкой <br>в СПБ и области</p>
                </div>
                <div class="header__middle_contact">
                    [[#1.SitePhone]]
                    <a href="#callback_modal" class="button popup_callback_button nopreload">Заказать звонок</a>
                </div>
            </div>
            <div class="mobile_menu_button js-mobile_menu">[[IncSvg? &svg=`elements/burger.svg`]]</div>
            <div class="header__bottom">
                <nav class="header__bottom_menu">
                    [[!pdoMenu?
                        &parents=`[[#1.catalog_menu_id]]`
                        &displayStart=`1`
                        &level=`2`
                        &levelClass=`level`
                        &tpl=`@INLINE <li[[+classes]] data-level="[[+level]]"><a href="[[+link]]" [[+attributes]]>[[+menutitle]]</a>[[+wrapper]]</li>`
                        &tplStart=`@INLINE <li [[+classes]]><a href="[[+link]]" [[+attributes]]>[[+menutitle]]</a>[[+wrapper]]</li>`
                        &tplInner=`SubmenuBlock`
                        &where=`{"template:=":5}`
                     ]]
                    [[!pdoMenu?
                        &parents=`7`
                        &resources=`[[#1.special_link]]`
                        &level=`0`
                        &tplOuter=`@INLINE <ul class="special_link">[[+wrapper]]</ul>`
                        &tpl = `@INLINE <li [[+classes]]><a class="special_link [[#1.special_icon:empty=`nopadding`]]" href="[[+link]]" [[+attributes]]>[[IncSvg? &svg=`[[#1.special_icon]]`]] [[+menutitle]]</a></li>`
                    ]]
                </nav>
                <div class="header__bottom_search">
                    [[$SearchForms]]
                </div>
                <div class="close_button"></div>
            </div>
        </div>
    </div>
</header>
