<div class="howbuy">
    <div class="container">
        <h2>Как купить?</h2>
        <div class="howbuy__wrap">
            [[$HowBuyItem?
                &title = `ШАГ ПЕРВЫЙ. ВЫБОР ТОВАРА`
                &text = `<p>В интернет-магазине существует несколько способов поиска и выбора товара. Если вы уже знаете, какой товар Вы хотите приобрести – введите его название в поиск в верхней части сайта</p>`
                &idx = `1`
            ]]
            [[$HowBuyItem?
                &title = `ШАГ ВТОРОЙ. ОФОРМЛЕНИЕ ЗАКАЗА`
                &text = `<p>Выбрав понравившийся вам товар, нажмите кнопку "Купить", товар автоматически отправится в вашу корзину. Товары, не имеющие этой кнопки, можно купить под заказ, позвонив по телефону</p>`
                &idx = `2`
            ]]
            [[$HowBuyItem?
                &title = `ШАГ ТРЕТИЙ. ОПЛАТА ТОВАРА`
                &text = `<p>Покупки в интернет-магазине СЕНАТОР вы можете оплатить при помощи наличного или безналичного расчета. При оплате по безналичному расчету уточняйте у менеджера актуальность наличия товара</p>`
                &idx = `3`
            ]]
            [[$HowBuyItem?
                &title = `ШАГ ЧЕТВЕРТЫЙ. ПОЛУЧЕНИЕ ТОВАРА`
                &text = `<p>Товары интернет-магазина СЕНАТОР доставляются по всей России. Стоимость доставки товаров в пределах Москвы и ближайшего Подмосковья варьируется в зависимости от их размеров и габаритов. </p>`
                &idx = `4`
            ]]
            
        </div>
    </div>
</div>

