<div class="howbuy">
    <div class="container">
        <h2>10 ПРИЧИН, ДЛЯ ВЫБОРА ЦВЕТОЧНОЙ МАСТЕРСКОЙ BANT</h2>
        <div class="howbuy__wrap">
            <ol>
                <li>Большой выбор уникальных букетов и композиций, под каждое событие и для каждого особенного человека в вашей жизни.</li>
                <li>Создадим букет мечты эксклюзивно для вас, в полном соответствии с вашими пожеланиями. Просто позвоните нам и расскажите пару слов о получателе и его предпочтениях.</li>
                <li>Широкий спектр услуг по флористическому оформлению и сопровождению торжественных мероприятий традиционных праздников, свадеб, конференции, тренингов, фуршетов.</li>
                <li>Советы квалифицированных флористов.</li>
            </ol>
            <ol>
                <li>Составляем букеты только из свежих, качественных цветов.</li>
                <li>Скидки и подарки нашим постоянным клиентам</li>
                <li>Доставка цветов всегда к удобному вам времени, в любой район Санкт-Петербурга, а так же в область.</li>
                <li>Доставка 24 часа. Осуществляется для заказов оформленных в рабочие часы мастерской с 9-22.</li>
                <li>Предлагаем удобные способы оплаты.</li>
                <li>Удобный сайт. Выбрать цветы и оформить заказ – просто.</li>
            </ol>
        </div>
    </div>
</div>

