<div class="msearch2" id="mse2_mfilter">
    <div class="catalog_filter">
        <div class="container">
            <div class="filter">
                <form action="[[~[[*id]]]]" method="post" id="mse2_filters">
                    [[+filters]]
                    <div class="filter_info_block">
                        <div class="shipping_info tooltip_target">
                            [[IncSvg? &svg=`elements/shipping.svg`]]
                            <div class="shipping_tooltip tooltip">
                                <p class="title h1">СТОИМОСТЬ И СРОКИ ДОСТАВКИ</p>
                                <p>Доставим букет, уже через 2-3 часа после заказа.</p>
                                <ul>
                                    <li>Доставка по Санкт-Петербургу и ЛО от 400 рублей;</li>
                                    <li>При заказе от 6000 рублей - доставка Бесплатно;</li>
                                </ul>
                                <p>Подробный прайс, вы сможете посмотреть <a href="[[~155]]">здесь</a></p>
                            </div>
                        </div>
                        <div class="address_info tooltip_target">
                            [[IncSvg? &svg=`elements/house.svg`]]
                            <div class="address_tooltip tooltip">
                                <p class="title h1">НАШИ МАГАЗИНЫ В САНКТ-ПЕТЕРБУРГЕ:</p>
                                <ul>
                                    <li>ул. Благодатная, 30 (м. Электросила);</li>
                                    <li>ул. Фурштатская, 46Б (м. Чернышевская);</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="mse2_sort" class=" filter_sort">
                        <a href="#" data-sort="ms|price" data-dir="[[+mse2_sort:is=`ms|price:desc`:then=`desc`]]" data-default="desc" class="sort nopreload">Цена<span></span></a>
                        <a href="#" data-sort="tv|HitsPage" data-dir="[[+mse2_sort:is=`tv|HitsPage:desc`:then=`desc`]]" data-default="desc" class="sort nopreload">Популярность<span></span></a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="mse2_results">
            [[+results]]
        </div>

        <div class="mse2_pagination">
            [[!+page.nav]]
        </div>
    </div>
</div>