<div class="minicart_button open">
    <div class="button">
        <p class="text">Ваш заказ </p>
        <div class="minicart_basket_count">
            <img data-src="/assets/template/images/elements/basket.svg"  class="lazyload" alt="">
            <p class="minicart_total_count">{$total.count}</p>
        </div>
    </div>
</div>
<div class="msCart">
    {if !count($products)}
            <div class="mini_basket__cont">
                <div class="mini_basket__title">
                    <h2 class="h1">Корзина</h2>
                    <p class="minicart_button close"><img data-src="/assets/template/images/elements/arrow-double.svg"  class="lazyload" alt=""></p>
                    <p class="empty_text">{'ms2_cart_is_empty' | lexicon}</p>
                </div>
            </div>
        </div>
    {else}
        <div class="mini_basket__cont">
            <div class="mini_basket__title">
                <h2 class="h1">Корзина</h2>
                <p class="minicart_button close"><img data-src="/assets/template/images/elements/arrow-double.svg"  class="lazyload" alt=""></p>
            </div>
            <div class="mini_basket__product">
                {foreach $products as $product}
                    <div class="mini_basket__product_cont mini_basket__product_item" id="{$product.key}">
                        <div class="mini_basket__product_image">
                            <a href="{$product.id | url}"><img data-src="{$product.image}" title="{$product.pagetitle}"  class="lazyload" alt="{$product.pagetitle}"></a>
                        </div>
                        <div class="mini_basket__product_content">
                            <div class="mini_basket__product_title">
                                <a href="{$product.id | url}"><h3>{$product.pagetitle}</h3></a>
                                <p><b>Артикул</b>: {$product.article}</p>
                            </div>
                            <div class="mini_basket__product_count">
                                <form method="post" class="ms2_form form-inline" role="form">
                                    <input type="hidden" name="key" value="{$product.key}"/>
                                    <div class="form-group">
                                        <button class="btn btn-default count_product plus" data-id="{$product.key}" type="submit" name="ms2_action" value="cart/change">+</button>
                                        <div class="count">
                                            <input type="number" name="count" value="{$product.count}"
                                                   class="form-control" data-id="{$product.key}" hidden />
                                            <p>{$product.count}</p>
                                        </div>
                                        <button class="btn btn-default count_product minus" data-id="{$product.key}" type="submit" name="ms2_action" value="cart/change">-</button>
                                    </div>
                                </form>
                            </div>
                            <div class="mini_basket__product_price">
                                <p class="product_price" >{$product.price * $product.count} <span class="rub">Р</span></p>
                            </div>
                        </div>
                        <div class="mini_basket__product_remove">
                            <form method="post" class="ms2_form">
                                <input type="hidden" name="key" value="{$product.key}">
                                <button class="btn btn-default" type="submit" name="ms2_action" value="cart/remove"></button>
                            </form>
                        </div>
                    </div>
                {/foreach}
            </div>
            <div class="mini_basket__link">
                <a href="/cart" class="button">Оформить заказ</a>
                <p class="minicart_button close">Продолжить покупки</p>
            </div>
        </div>
    {/if}
</div>

