<div class="callback_block  mfp-hide" id="callback-popup">
    <p class="title">Запись на дегустацию</p>
    <p class="subtitle">Оставьте ваш телефон для связи с менеджером и уточнения времени и места дегустации</p>
    <div class="callback">
    	<div class="error callback-popup-form"></div>
    	<form action="javascript:void(0);" id="callback-popup-form">
    		 <div class="form-group">
               <label class="form-label">Ваш телефон</label>
               <input type="text"  name="phone" class="phone">
            </div>
            <input type="text" name="theme" value="Запись на дегустацию с сайта Tsiren" hidden>
    		<button type="submit" class="submit-btn gg-callback-form">Заказать звонок</button>
    		<div class="policy-check">
        		<input hidden type="checkbox" id="checkbox-callback-popup"  checked="checked"  name="check"  class="checkbox-policy">
        		<label for="checkbox-callback-popup">Я даю согласие на&nbsp;<a href="/compliance">обработку персональных данных</a> и&nbsp;соглашаюсь с&nbsp;<a href="/policy">политикой конфиденциальности</a></label>    
    		</div>
    		
    	</form>
	</div>
</div>
