<div id="msProduct" class="product" data-id="[[*id]]">
    <div class="product__item">
        <div class="product__item_wrap">
            <div class="product__item_left">
                <div class="product__item_img">
                    <div class="zoom">
                        [[IncSvg? &svg=`elements/zoom.svg`]]
                    </div>
                    [[!msGallery?
                        &tpl = `Fotorama`
                    ]]
                </div>
                <div class="product__item_instruction">
                    <div class="instruction_item tooltip_target">
                        [[IncSvg? &svg=`card/icon/1.svg`]]
                        <div class="product__item_instruction_popup tooltip">
                            <div class="instruction_popup_1 instruction_popup">
                                <p>По запросу сделаем фото подборку цветов перед сборкой и пришлем фото букета перед отправкой в WhatsApp, Telegram, Viber</p>
                            </div>
                        </div>
                    </div>
                    <div class="instruction_item tooltip_target">
                        [[IncSvg? &svg=`card/icon/2.svg`]]
                        <div class="product__item_instruction_popup tooltip">
                            <div class="instruction_popup_1 instruction_popup">
                                <p>Принимаем заказы в WhatsApp, Telegram, Viber</p>
                            </div>
                        </div>
                    </div>
                    <div class="instruction_item tooltip_target">
                        [[IncSvg? &svg=`card/icon/3.svg`]]
                        <div class="product__item_instruction_popup tooltip">
                            <div class="instruction_popup_1 instruction_popup">
                                <p>Тематическая Мини открытка 5x9см, для самых теплых слов!</p>
                            </div>
                        </div>
                    </div>
                    <div class="instruction_item tooltip_target">
                        [[IncSvg? &svg=`card/icon/4.svg`]]
                        <div class="product__item_instruction_popup tooltip">
                            <div class="instruction_popup_1 instruction_popup">
                                <p>Доставка 24 часа осуществляется для заказов оформленных в рабочие часы мастерской с 9-22.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__item_right">
                <div class="product__title">
                    <h1>[[*pagetitle]]</h1>
                </div>
                <div class="product__item_article">
                    <p>Артикул: [[+article]]</p>
                </div>
                <form class="ms2_form product__item_form" method="post">
                    <input type="number" name="count" id="product_price" hidden="hidden" value="1">
                    <input type="hidden" name="id" value="[[*id]]">
                    <div class="price_block">
                        <div class="product__item_price">
                            <p class="product_price_wrap"><span id="price">[[+price]]</span> руб.</p>
                        </div>
                        <div class="product__item_button">
                            <button type="submit" class="buy" name="ms2_action" value="cart/add">Купить</button>
                            <a href="#fast_buy_modal" class="button nopreload fast_buy_button" data-id="[[*id]]" data-title="[[*pagetitle]]">Быстрый заказ</a>
                        </div>
                        <div class="share">
                            <p class="share_button js-share">Подписаться</p>
                            <div class="product__item_share tooltip">
                                <div class="share_popup">
                                    [[$SocialBlock]]
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="shipping_block">
                    <p>Доставка</p>
                    <button class="shipping_btn">Самовывоз</button>
                    <button class="shipping_btn">Курьером</button>
                    <div class="shipping_item_text">
                        <div class="shipping_text_1 shipping_text tooltip">
                            <p class="h2">Наши магазины в Санкт-Петербурге:</p>
                            <p>улица Благодатная, 30 (м. Электросила)</p>
                            <p>улица Фурштатская, 46Б (м. Чернышевская)</p>
                        </div>
                        <div class="shipping_text_2 shipping_text tooltip">
                            <p class="h2">Зона 1</p>
                            <ul>
                                <li>Доставка по Санкт-Петербургу (с 10:00 до 23:00) - 400 рублей (на период 7-8 марта: 500 рублей);</li>
                                <li>При заказе букета от 6000 рублей - доставка Бесплатно;</li>
                                <li>Ночная доставка (с 23:00 до 10:00) - 700 рублей.</li>
                            </ul>
                            <p class="h2">Зона 2</p>
                            <ul>
                                <li>Дальние расстояния/пригород- 400р (на период 7-8 марта: 500 рублей) + 30 руб/км (мин. 100руб) от "Зоны 1", точную сумму уточняйте у наших менеджеров +7 (812) 967-27-62;</li>
                                <li>Ночная доставка (с 23:00 до 10:00) - 700 рублей + 30 руб/км (мин. 150руб) от "Зоны 1", точную сумму уточняйте у наших менеджеров +7 (812) 967-27-62;</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pay_block">
                    <img src="/assets/template/images/card/pay/visa.png" alt="">
                    <img src="/assets/template/images/card/pay/mastercard.png" alt="">
                    <img src="/assets/template/images/card/pay/paypal.png" alt="">
                    <img src="/assets/template/images/card/pay/yamoney.png" alt="">
                </div>
                <div class="product__item_content">
                    [[*content]]
                </div>
            </div>
        </div>
    </div>
</div>  

