<a href="https://vk.com/bantfloristic" class="nopreload">[[IncSvg? &svg=`social/vk.svg`]]</a>
<a href="https://instagram.com/bant_floristic" class="nopreload">[[IncSvg? &svg=`social/instagram.svg`]]</a>
<a href="https://t.me/bant_floristict" class="nopreload">[[IncSvg? &svg=`social/telegram.svg`]]</a>
<a href="viber://chat?number=+79219672762" class="nopreload">[[IncSvg? &svg=`social/viber.svg`]]</a>
<a href="whatsapp://send?phone=+79219672762" class="nopreload">[[IncSvg? &svg=`social/whatsapp.svg`]]</a>