<div class="soviet">
    <div class="container">
        <div class="soviet__wrap">
            <div class="soviet__img">
                <img src="/assets/template/images/soviet/img.png" alt="">
            </div>
            <div class="soviet__text">
                <p class="h1">СОВЕТ ШЕФ-ФЛОРИСТА BANT</p>
                <p>У цветов нужно обновить срез, прежде чем поставить его в вазу с водой. Вода - только проточная, прохладная.</p>
                <p>Для лучшей стойкости цветов, рекомендуем использовать подкормку “chrysal” и менять воду в вазе ежедневно.</p>
                <p>Чтобы цветочная композиция дольше радовала вас, разместите её вдали от света и источника тепла. Избегайте сквозняков.</p>
            </div>
        </div>
    </div>
</div>