<div class="submenu_item">
    <div class="submenu__item_img">
        <a href="[[+uri]]" title='[[+pagetitle]]'><img src="[[+image]]" alt="[[+pagetitle]]"></a>
    </div>
    <div class="submenu__item_content">
        <div class="submenu__item_title">
            <a href="[[+uri]]" title='[[+pagetitle]]'>[[+pagetitle]]</a>
        </div>
        <div class="submenu__item_article">
            <p>Артикул [[+article]]</p>
        </div>
        <div class="submenu__item_link">
            <a class="button" href="[[+uri]]" title='[[+pagetitle]]'>Подробнее</a>
        </div>
    </div>
</div>