//-------------------------------------------------------------------------//
		// Advantages // chunk/Advantages.html
//-------------------------------------------------------------------------//


& .advantages {
	padding: 40px 0;
	margin: 20px 0;

	& .container {

		& h2 {
			font-family: @fontGeomBold;
			color: @colorRed;
			font-size: 16pt;
			text-transform: uppercase;
			margin-bottom: 120px;
			text-align: center;
		}

		& .advantages__wrap {
			.flex();
			justify-content: space-between;

			& .advantages__item {
				.cols(7.5);
				.flex();
				justify-content: space-between;

				&:nth-child(1), &:nth-child(2) {
					margin-bottom: 90px;
				}

				@media @m {
					.cols(16);
					.flex();
					align-items: center;
					margin: 10px 0;
				}

				& .advantages__item_img {
					.cols(4);

					@media @m {
						.cols(4);
					}

					& img {
						margin-bottom: 20px;

						@media @m {
							margin-bottom: 10px;
						}
					}
				}

				& .advantages__item_content {
					.cols(12);

					@media @m {
						.cols(12);
						padding-left: 20px;
					}

					& .advantages__item_title {

						& h3 {
							font-family: @fontGeomBold;
							color: @colorRed;
							font-size: 13pt;
							text-transform: uppercase;
							margin-bottom: 20px;
						}
					}

					& .advantages__item_text {

						& div {

							& p {
								font-size: 12pt;

								@media @d {
									font-size:11pt;
								}
								@media @t {
									font-size: 10pt;
								}
								@media @m {
									font-size: 9pt;
								}
							}

							& ul {

								& li {
									font-size: 12pt;
									list-style: none;

									@media @d {
										font-size:11pt;
									}
									@media @t {
										font-size: 10pt;
									}
									@media @m {
										font-size: 9pt;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}