& .article__other {
  background: @colorRedLight;
  padding: 40px 0;

  & .container {

    & .article__other_title {
      .flex();
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      & h3 {
        font-family: @fontGeomBold;
        color: @colorRed;
        font-size: 13.4pt;
      }

      & a {
        .animation();
        background: @colorRed;
        color: @colorWhite;
        padding: 6px 25px;
        font-size: 12pt;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
        border: 0;
        width: auto;

        &:hover {
          background: @colorBlack;
        }
      }
    }

    & .article__teaser {
      background: @colorWhite;
      border: 0;
    }
  }
}