& .b2b {

  &__title {

    & h1 {
      color: @colorRed;
      text-align: center;
    }
  }

  &__offer {
    text-align: center;

    &_text {
      color: @colorRed;
      font-size: 14pt;
      margin: 10px 0 0;
      display: block;
    }

    &_link {
      font-size: 12pt;
      margin: 10px auto;
    }
  }
}