//-------------------------------------------------------------------------//
		// Advantages //
//-------------------------------------------------------------------------//


& .callback {
	padding: 155px 0 40px 0;
	margin: 20px 0 0;

	@media @d {
		padding: 155px 0 32px 0;
	}
	@media @m {
		padding: 0;
		margin: 20px 0;
	}

	& .container { 

		& h2 {
			font-size: 32pt;
			text-transform: uppercase;
			margin-bottom: 40px;

			@media @d {
				font-size: 28pt;
			}
			@media @t {
				font-size: 22pt;
			}
			@media @m {
				font-size: 16pt;
				text-align: center;
				margin-bottom: 20px;
			}
		}

		& .callback__wrap { 

			& p.callback__title { 

				& span { 

				}
			}

			& .callback__form {
				.cols(9.5);
				.flex();
				align-items: center;
				background: @colorBrown;
				padding: 20px 60px;
				position: relative;
				min-height: 305px;

				@media @t {
					padding: 20px 60px 20px 30px;
				}
				@media @m {
					.cols(16);
					padding: 20px;
				}

				&:before {
					content: '';
					width: 425px;
					height: 636px;
					position: absolute;
					background: url('../images/callback/img.png');
					right: -340px;
    				top: -290px;

    				@media @t {
    					top: -263px;
    				}
    				@media @m {
    					display: none;
    				}
				}

				& .form__callback_error {
					.cols(16);

					& p {
						color: @colorWhite;
						font-family: @fontGeom;
						text-align: center;
						font-size: 14pt;
					}

				}

				& #callback__form {
					.flex();
					justify-content: space-between;

					& .form__callback_form-group {
						.cols(16);
			  			position:relative;
			  			margin: 10px 0;

			  			@media @t, @m {
			  				margin: 0;
			  			}

						& label.form__group_label {
							position: absolute;
							left: 10px;
							top: 35px;
							color: @colorBlackLight;
							z-index: 10;
							font-size: 14pt;
							transition: transform 150ms ease-out, font-size 150ms ease-out;

							@media @t {
								font-size: 12pt;
							}
							@media @m {
								top: 25px;
    							font-size: 10pt;
							}

						}

						&.focused {

							& .form__group_label {
								color: @colorWhite;
								font-size: 12pt;
								transform: translateY(-400%);

								@media @t {
									font-size: 11pt;
								}
							}
						}

						& input.callback__form_input {
							.cols(16);
							height: 55px;
							margin: 10px 0;
							padding: 5px 20px;
							font-size: 12pt;
							border: 0;

							@media @m {
								height: 45px;
    							margin: 5px 0;
							}

						}

					}

					& button.callback__form_button { 
						.cols(8);
						.flex();
						.animation();
						background: @colorBlackLight;
						color: @colorWhite;
						font-family: @fontGeom;
						align-items: center;
						justify-content: space-between;
						height: 55px;
						font-size: 12pt;
						text-align: left;
						margin: 10px 0;
						padding: 0 30px;
						cursor: pointer;
						border: 0;

						@media @d {
							padding: 0 15px;
							font-size: 11pt;
						}
						@media @t {
							.cols(16);
							font-size: 11pt;
						}
						@media @m {
							.cols(16);
							padding: 0 10px;
							font-size: 10pt;
						}

						& svg {
							.animation();
							transform: translateX(-20px);
						}

						&:hover {
							color: @colorBlack;
							background: @colorWhite;

							& svg {
								transform: none;
							}
						}

					}

					& .policy__check { 
						.cols(8);
						padding-left: 40px;
						margin: 10px 0;

						@media @t {
							.cols(16);
						}
						@media @m {
							.cols(16);
							padding-left: 20px;
						}

						& #callback__checkbox {
					    	float: left;
					    	width: 0;
					    	height: 0;
					    	margin: 0;
					    	padding: 0;

					    	&:checked + label:after {
							    opacity: 1;
							} 


						}

						& label {
							color: @colorWhite;
							font-size: 9pt;
							position: relative;

							&:before {
								content: '';
								width: 13px;
							    height: 13px;
							    cursor: pointer;
							    margin-bottom: 30px;
							    position: absolute;
							    top: 0;
							    left: -20px;
							    background: @colorWhite;
							    border-radius: 4px;
							}

							&:after {
								.animation();
								content: '';
							    width: 7px;
							    height: 5px;
							    position: absolute;
						        top: 2px;
					    		left: -18px;
							    border: 2px solid @colorBrown;
							    border-top: none;
							    border-right: none;
							    background: transparent;
							    opacity: 0;
							    -webkit-transform: rotate(-45deg);
							    transform: rotate(-45deg);
							}

							& a { 
								color: @colorWhite;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}