& .form__callback_form-group, .form__basket_form-group {
	position: relative;

	& label.form__group_label {
		.animation(0.1s);
		position: absolute;
		left: 10px;
		top: 15px;
		z-index: 10;
	}

	&.focused {

		& .form__group_label {
			transform: translateY(-1.2em);
		}
	}

	& input {
		.cols(16);
		font-family: @fontGeom;
		border: 0;
		border-bottom: 2px solid @colorRed;

		&:-internal-autofill-selected {
			background: @colorWhite;
		}
	}
}

& .callback {
	padding: 95px 0 40px 0;
	margin: 20px 0;
	position: relative;

	@media @d {
		padding: 75px 0 40px 0;
	}
	@media @t {
		padding: 75px 0 40px 0;
	}

	&.card_callback {
		padding: 40px 0;
		margin: 40px 0;

		&:before {
			display: none;
		}
	}

	&.catalog_cards {

		& .container {
			width: auto;
			padding: 0;
		}
	}

	&.callback_pop {
		padding: 0;

		&:before {
			display: none;
		}
	}

	&:before {
		content: '';
		position: absolute;
		width: 200%;
		height: 50%;
		left: -50%;
		background: @colorRedLight;
		bottom: 0;
	}

	& .callback__wrap {
		.flex();
		.cols(13.6);
		align-items: center;
		border: 2px solid @colorRed;
		border-radius: 5px;
		background: @colorWhite url('../images/callback/bg.jpg');
		background-repeat: no-repeat;
		background-position: right bottom;
		position: relative;
		margin: 0 auto;

		@media @t, @mBig, @m {
			.cols(16);
		}

		&.card_callback__wrap {

			&:before {
				width: 330px;
				height: 320px;
				background: url('../images/soviet/img.png');
				background-repeat: no-repeat;
				background-size: contain;
				top: -10px;

				@media @d {
					width: 230px;
					height: 220px;
					left: 10px;
				}

				@media @t, @mBig, @m  {
					top: -50px;
					height: 130px;
				}
			}
		}

		&.callback_pop__wrap {
			width: auto;

			&:before {
				height: 220px;
			}

			& .callback__form_block {
				.cols(16);
			}
			& h2 {
				margin-bottom: 0;

				@media @d {
					margin-bottom: 40px;
				}
				@media @t, @mBig, @m {
					margin-bottom: 30px;
				}
			}
		}

		&:before {
			content: '';
			width: 390px;
			height: 370px;
			position: absolute;
			background: url('../images/callback/img.png');
			background-repeat: no-repeat;
			background-size: contain;
			left: 30px;
			top: -70px;

			@media @d {
				width: 310px;
				height: 300px;
			}
			@media @t  {
				height: 220px;
			}
			@media @mBig, @m {
				height: 150px;
				left: 0;
			}
		}

		& h2 {
			.cols(16);
			margin-bottom: 60px;

			@media @t, @mBig, @m {
				margin-bottom: 30px;
			}
		}

		& .callback__form_block {
			.cols(10);
			.flex();
			align-items: center;
			padding: 80px;
			min-height: 340px;
			margin: 0 0 0 auto;
			position: relative;

			@media @d {
				.cols(12);
				padding: 60px 80px;
				min-height: 280px;
			}
			@media @t  {
				.cols(16);
				padding: 60px 80px;
				min-height: 280px;
			}
			@media @mBig, @m {
				.cols(16);
				padding: 20px 10px;
				min-height: 250px;
			}

			& .form__callback_error {
				position: absolute;
				bottom: 60px;

				& p {
					color: @colorRed;
					font-family: @fontGeom;
					font-size: 14pt;
				}

			}

			& .callback__form {
				.cols(10);
				.flex();
				justify-content: space-between;
				align-items: center;
				position: absolute;
				bottom: 60px;

				@media @mBig, @m {
					bottom: 20px;
					.cols(14);
				}
				@media @m {
					.cols(14);
					bottom: 10px;
				}

				& .form__callback_form-group {
					.cols(8);
					margin: 10px 0;

					@media @mBig, @m {
						.cols(16);
					}

					& label.form__group_label {
					    color: @colorBlack;
					    font-size: 12pt;
                        top: 15px;

						@media @mBig, @m {
							font-size: 10pt;
						}
					}

					&.focused {

						& .form__group_label {
							color: @colorRed;
							font-size: 11pt;
						}
					}

                    & input {
                      padding: 0 10px;
                      margin: 10px 0 0;
                      font-size: 12pt;

						@media @mBig, @m {
							background: transparent;
							max-width: 220px;
						}
                    }
				}

				& button.callback__form_button {
					.cols(6);
					.colsOf(2);

					@media @mBig, @m {
						.cols(16);
						.colsOf(0);
						max-width: 220px;
					}
				}
			}
		}
	}
}