//-------------------------------------------------------------------------//
		// Advantages //
//-------------------------------------------------------------------------//


& .callback {
	padding: 155px 0 40px 0;
	margin: 20px 0 0;

	@media @d {
		padding: 155px 0 32px 0;
	}
	@media @m {
		padding: 0;
		margin: 20px 0;
	}

	& .container { 

		& .callback__wrap {
			.flex();
			.cols(13.6);
			align-items: center;
			border: 2px solid @colorRed;
			border-radius: 5px;
			background: url('../images/callback/bg.jpg');
			background-repeat: no-repeat;
			background-position: right bottom;
			position: relative;
			margin: 0 auto;

			&:before {
				content: '';
				width: 390px;
				height: 370px;
				position: absolute;
				background: url('../images/callback/img.jpg');
				background-repeat: no-repeat;
				left: 30px;
				top: -70px;
				
				@media @m {
					display: none;
				}
			}

			& h2 {
				.cols(16);
				font-family: @fontGeomBold;
				color: @colorBlack;
				font-size: 16pt;
				text-transform: uppercase;
				margin-bottom: 60px;
			}

			& .callback__form {
				.cols(10);
				.flex();
				align-items: center;
				padding: 80px;
				min-height: 340px;
				margin: 0 0 0 auto;
				position: relative;

				@media @t {
					padding: 20px 60px 20px 30px;
				}
				@media @m {
					.cols(16);
					padding: 20px;
				}

				& .form__callback_error {
					position: absolute;
					bottom: 60px;

					& p {
						color: @colorRed;
						font-family: @fontGeom;
						font-size: 14pt;
					}

				}

				& #callback__form {
					.cols(10);
					.flex();
					justify-content: space-between;
					position: absolute;
					bottom: 60px;

					& .form__callback_form-group {
						.cols(8);
			  			position:relative;
			  			margin: 10px 0;

			  			@media @t, @m {
			  				margin: 0;
			  			}

						& label.form__group_label {
							.animation(0.1s);
							color: @colorBlack;
							position: absolute;
							left: 10px;
							top: 10px;
							z-index: 10;
							font-size: 12pt;

							@media @t {
								font-size: 12pt;
							}
							@media @m {
								top: 25px;
    							font-size: 10pt;
							}

						}

						&.focused {

							& .form__group_label {
								color: @colorRed;
								font-size: 11pt;
								transform: translateY(-200%);

								@media @t {
									font-size: 11pt;
								}
							}
						}

						& input.callback__form_input {
							.cols(16);
							font-family: @fontGeom;
							border: 0;
							border-bottom: 2px solid @colorRed;
							margin: 10px 0;
							padding: 0 10px;
							font-size: 12pt;
							
							&:-internal-autofill-selected {
								background: @colorWhite;
							}
						}
					}

					& button.callback__form_button { 
						.cols(6);
						.colsOf(2);
						.animation();
						background: @colorRed;
						color: @colorWhite;
						font-family: @fontGeom;
						font-size: 12pt;
						text-align: center;
						margin: 10px 0;
						padding: 0 10px;
						cursor: pointer;
						border: 0;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;

						@media @d {
							padding: 0 15px;
							font-size: 11pt;
						}
						@media @t {
							.cols(16);
							font-size: 11pt;
						}
						@media @m {
							.cols(16);
							padding: 0 10px;
							font-size: 10pt;
						}

						&:hover {
							background: @colorBlack;
						}
					}
				}
			}
		}
	}
}