& .card {
  .flex();

  & .container {

    & .card__wrap {

      & nav {

        & ul.breadcrumb {

          & li {
            color: @colorGrayDark;

            & a {
              color: @colorGrayDark;

            }
          }

          & li.active {

          }
        }
      }

      & .card__main {
        margin: 40px 0;

        & .product {

          & .product__item {

            & .product__item_wrap {
              .flex();
              justify-content: space-between;

              & .product__item_left {
                .cols(7.5);

                & .product__item_img {

                  & #msGallery {

                    & .fotorama {

                    }
                  }
                }

                & .product__item_instruction {
                  .flex();
                  justify-content: space-around;
                  align-items: center;
                  margin: 30px 0;

                  & .instruction_item {
                    .cols(4);
                    text-align: center;
                    position: relative;
                    height: 66px;

                    &:hover {

                      & .product__item_instruction_popup {

                        & .instruction_popup {
                          opacity: 1;
                          visibility: visible;
                        }
                      }
                    }

                    .product__item_instruction_popup {

                      & .instruction_popup {
                        .animation();
                        background: @colorWhite;
                        box-shadow: 5px 5px 20px -10px @colorBlack;
                        position: absolute;
                        width: 550px;
                        text-align: left;
                        padding: 20px;
                        margin: 20px 0;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 999;
                        top: 100%;

                        &:before {
                          background: @colorWhite;
                          box-shadow: -6px -6px 20px -8px @colorBlack;
                          content: '';
                          position: absolute;
                          top: -10px;
                          left: 55px;
                          width: 20px;
                          height: 20px;
                          transform: rotate(45deg);
                        }
                      }
                    }
                  }
                }
              }

              & .product__item_right {
                .cols(8);

                & .product__title {

                  & h1 {
                    color: @colorRed;
                  }
                }

                & .product__item_article {

                  & p {
                    color: @colorGrayDark;
                    font-size: 10pt;
                  }
                }

                & form.ms2_form {

                  & .price_block {
                    .flex();
                    align-items: center;
                    justify-content: space-between;

                    & .product__item_price {

                      & .product_price_wrap {
                        font-family: @fontGeomBold;
                        font-size: 16pt;

                        & #price {

                        }
                      }
                    }

                    & .product__item_button {

                      & button {

                        &.fast_buy {
                          .animation();
                          border: 1px solid @colorRed;
                          color: @colorBlack;
                          background: transparent;

                          &:hover {
                            background-color: @colorBlack;
                            color: @colorWhite;
                          }
                        }
                      }
                    }
                  }
                }

                & .pay_block {
                  .flex();
                  align-items: center;
                  margin: 20px 0;

                  & img {
                    .animation();
                    filter: grayscale(100%);
                    margin-right: 10px;

                    &:hover {
                      filter: none;
                    }
                  }
                }

                & .shipping_block {
                  .flex();
                  align-items: center;
                  margin: 20px 0;

                  & > p {
                    .cols(16);
                  }

                  & .shipping_btn {
                    background: @colorWhite;
                    border: 1px solid @colorRed;
                    color: @colorBlack;
                    margin-right: 10px;

                    &.active {
                      background: @colorRed;
                      color: @colorWhite;
                      border: 1px solid transparent;
                    }

                    &:hover {
                      background: @colorRed;
                      color: @colorWhite;
                      border: 1px solid transparent;
                    }
                  }

                  & .shipping_item_text {
                    .cols(16);

                    & .shipping_text {
                      background: @colorWhite;
                      box-shadow: 5px 5px 20px -10px @colorBlack;
                      width: 100%;
                      text-align: left;
                      padding: 20px;
                      margin: 20px 0;
                      display: none;
                      position: relative;

                      &:nth-child(2) {
                        &:before {
                          left: 205px;
                        }
                      }

                      &:before {
                        background: @colorWhite;
                        box-shadow: -6px -6px 20px -8px @colorBlack;
                        content: '';
                        position: absolute;
                        top: -10px;
                        left: 65px;
                        width: 20px;
                        height: 20px;
                        transform: rotate(45deg);
                      }
                    }
                  }
                }

                & .product__item_content {
                  margin: 40px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}