& .catalog {
  .flex();

  & .container {

    & .catalog__top {

      & ul.breadcrumb {

        & li {
          color: @colorGrayDark;

          & a {
            color: @colorGrayDark;
          }
        }

        & li.active {

        }
      }

      & .catalog__title {

        & h1 {
          color: @colorRed;

        }
      }

      & nav.catalog__menu {

        & ul {
          .flex();
          align-items: center;

          & li.first {

            & a {

            }
          }

          & li {
            .cols(4);

            & a {
              .animation();
              color: @colorBlack;
              font-size: 10.4pt;

              &:hover {
                color: @colorRed;
              }
            }
          }

          & li.last {

            & a {

            }
          }
        }
      }
    }
  }
  & .catalog__main {
    .cols(16);
    margin: 40px 0;

    & .catalog__page {

      & .msearch2 {

        & .catalog_filter {

          & .container {

            & .filter {

              & #mse2_filters {

                & #mse2_sort {

                  & p.total_result {

                    & #mse2_total {

                    }
                  }

                  & a.sort {

                    & span {

                    }
                  }

                  & button.filter_reset {

                  }
                }
              }
            }
          }
        }

        & .container {

          & #mse2_results {

          }

          & .mse2_pagination {

          }
        }
      }
    }
  }
}