& .cause {
  margin: 40px 0;

  & .container {

    & .cause__title {

      & h2 {
        color: @colorRed;
        text-align: center;
      }
    }

    & .cause__subtitle {

      & p {
        text-align: center;
      }
    }

    & .cause__block {
      .flex();
      justify-content: space-between;

      & .cause__block_item {
        .cols(8);
        .flex();
        justify-content: space-between;
        padding: 20px;

        & svg {
          width: 140px;
        }

        & .cause__block_item_text {
          width: calc(100% - 160px);

          & h3 {
            color: @colorRed;
            margin-top: 0;
          }

          & p {

          }
        }
      }
    }
  }
}