.fast_buy_modal {
  padding: 0 !important;

  & .fastbuy {
    .flex();
    justify-content: space-between;

    & .fastbuy_product {
      .cols(5);
      box-shadow: 0 0 30px -10px @colorBlack;
      padding: 20px 20px 60px;
      
      @media @mBig, @m {
        .hide();
      }

      & .fastbuy_product_image {
        & img {

        }
      }
      & .fastbuy_product_title {
        & h2 {
          color: @colorRed;
          margin: 10px 0 0;

        }
        & p {
          color: @colorGrayDark;
          font-size: 10pt;
        }
      }
    }

    & .fastbuy_form {
      .cols(10);
      padding: 20px 0 0 20px;

      @media @mBig, @m {
        .cols(16);
        padding: 20px;
      }

      & .h3 {
        width: 100%;
        margin: 0 0 10px;
      }

      & .ajax_form_offer {
        .flex();
        justify-content: space-between;
        align-items: flex-start;

        @media @mBig, @m {
          padding-bottom: 30px;
        }

        & .form__callback_form-group {
          .cols(7);

          @media @mBig {
            .cols(7.8);
          }
          @media @m {
            .cols(16);
          }

          & label.form__group_label {
            color: @colorBlack;
            z-index: 10;
            font-size: 10pt;
          }

          &.focused {

            & .form__group_label {
              color: @colorRed;
              font-size: 11pt;
            }
          }

          & input.form_input {
            margin: 10px 0;
            padding: 0 10px;
            font-size: 12pt;
            width: 100%;
            background: transparent;

            @media @t {
              font-size: 11pt;
            }
            @media @mBig, @m  {
              font-size: 10pt;
            }

            &:-internal-autofill-selected {
              background: @colorWhite;
            }
          }
        }

        & button {
          position: absolute;
          bottom: 20px;
          right: 20px;
        }

        & .delivery_block, .payment_block {
          .cols(7);
          .flex();
          margin: 10px 0;
          position: relative;


          & .change_block {
            &.delivery_block_2 {
              display: none;
            }

            .form__callback_form-group {
              .cols(16);
            }
          }

          @media @mBig, @m {
            .cols(16);
          }

          & input {
            &[type = radio] {
              display: none;

              &:checked + p {

                &:before {
                  background: @colorRed;
                  border: 1px solid @colorRed;
                }
              }
            }
          }
          & .checkbox {
            .cols(16);

            @media @mBig, @m {
              .cols(16);
            }

            & label {
              & p {
                .animation();
                cursor: pointer;
                margin: 0;
                font-size: 10pt;
                margin-bottom: 4px;
                position: relative;
                padding-left: 15px;

                &:before {
                  .animation();
                  content: '';
                  border: 1px solid @colorGray;
                  position: absolute;
                  left: 0;
                  width: 8px;
                  height: 8px;
                  top: 2px;
                  background: transparent;
                  border-radius: 50%;
                }

                &.h3 {
                  font-size: 11pt;
                  margin: 0 0 10px;
                  padding: 0;
                }
              }
            }

          }
        }
      }
    }
  }
}