//-------------------------------------------------------------------------//
		// Header //
//-------------------------------------------------------------------------//

& header { 
	
	& .header__notification {
		background: @colorBrown;
		padding: 10px 0;
		
		.container {
			
			& p {
				text-align: center;
				font-size: 10pt;
				margin: 0;
			}
		}
	}

	& .container {

		& .header {
			position: relative;
			
			& .header__top {
				.flex();
				justify-content: space-between;
				align-items: center;
				margin: 20px 0;

				& .header__top_menu {
					.cols(7);
					.colsOf(3);

					@media @d {
						.colsOf(0);
						.cols(8);
					}
					@media @t {
						.colsOf(0);
						.cols(9);
					}
					@media @mBig {
						.colsOf(0);
						.cols(12);
					}
					@media @m {
						.colsOf(0);
						.cols(16);
						margin-bottom: 20px;
					}

					& ul {
						.flex();
						align-items: center;

						@media @m {
							justify-content: space-between;
						}

						& li {
							margin: 0 40px 0 0;

							@media @t {
								margin: 0 20px 0 0;
							}
							@media @mBig {
								margin: 0 20px 0 0;
							}
							@media @m {
								margin: 0;
							}

							& a {
								.animation();
								font-family: @fontGeomBold;
								color: @colorBlack;
								font-size: 12pt;
								margin: 0;

								@media @m {
									font-size: 10pt;
								}
								
								&:hover {
									color: @colorRed;
								}
							}
						}
					}
				}

				& .header__top_social {
					.cols(4);
					.flex();
					align-items: center;

					@media @t {
						.cols(4);
					}
					@media @mBig {
						.cols(8);
						order: 1;
						margin-top: 10px;
					}
					@media @m {
						.cols(9);
					}
					
					& a {
						margin-right: 20px;

						@media @m {
							margin-right: 14px;
						}

						&:last-child {
							margin-right: 0;
						}
						
						&:hover {
							
							& svg {
								& path {
									fill: @colorRed;
								}
							}
						}
						
						& svg {
							
							& path {
								.animation();
							}
						}
					}
				}

				& .header__top_basket {
					.cols(2);
					.flex();
					align-items: center;
					justify-content: space-around;
					position: relative;
					max-width: 130px;

					@media @d {
						.cols(2.5);
					}
					@media @t {
						.cols(3);
					}
					@media @mBig {
						.cols(4);
					}
					@media @m {
						.cols(6.5);
					}

					& svg {

						& path {
							fill: @colorRed;
						}
					}

					& .msMiniCart {
						.flex();
						color: @colorWhite;
						background: @colorRed;
						position: absolute;
						top: -10px;
						left: 34px;
						width: 20px;
						height: 20px;
						border-radius: 25em;
						text-align: center;
						align-items: center;
						justify-content: center;

						& .empty {

							& p {
								font-size: 10pt;
								line-height: 1em;
								margin: 0;
							}
						}

						& .not_empty {

							& a.ms2_total_count {
								color: @colorWhite;
								font-size: 10pt;
								line-height: 1em
							}
						}
					}

					& a {
						color: @colorBlack;
						font-size: 10pt;
					}
				}
			}

			& .header__middle {
				.flex();
				justify-content: space-between;
				align-items: center;
				margin: 20px 0;

				& .header__middle_logo {
					.cols(3);

					@media @mBig {
						.cols(4);
					}
					@media @m {
						.cols(16);
						text-align: center;
					}

					& a {

						& svg {
							max-width: 100%;
						}
					}
				}

				& .header__middle_title {
					.cols(10);

					@media @d {
						.cols(9);
					}
					@media @t {
						.cols(8);
					}
					@media @mBig {
						.cols(11);
					}
					@media @m {
						.cols(16);
						margin: 20px 0;
					}

					& p {
						color: @colorRed;
						font-size: 16pt;
						text-transform: uppercase;
						margin: 0;

						@media @t {
							font-size: 14pt;
						}
						@media @mBig {
							font-size: 14pt;
						}
						@media @m {
							font-size: 12pt;
						}

						& br {
							@media @mBig, @m {
								display: none;
							}
						}
					}
				}

				& .header__middle_contact {
					.cols(3);

					@media @d {
						.cols(3.5);
					}
					@media @t {
						.cols(4);
					}
					@media @mBig {
						.cols(16);
					}
					@media @m {
						.cols(16);
					}

					& a {
						display: block;

						&.button {
							@media @mBig {
								max-width: 200px;
								margin: 0 auto;
							}
						}

						&:not(.button) {
							color: @colorBlack;
							font-family: @fontGeomBold;
							font-size: 16pt;
							text-align: center;
							margin-bottom: 10px;

							@media @t {
								font-size: 14pt;
							}
						}
					}
				}
			}
			
			& .mobile_menu_button {
				display: none;
				
				@media @mBig, @m {
					display: block;
					cursor: pointer;
					position: absolute;
					bottom: 45px;
				}
			}

			& .header__bottom {
				.flex();
				justify-content: space-between;
				align-items: center;
				margin: 20px 0;
				position: relative;


				& .mobile_menu_button, .close_button {
					display: none;
				}

				&.mobile_menu {
					.animation();
					background: @colorWhite;
					box-shadow: 5px 5px 20px -10px @colorBlack;
					position: fixed;
					top: -100%;
					left: 5%;
					width: 90%;
					z-index: 999;
					margin: 0;
					padding: 30px 10px;
					max-width: 320px;

					&.active {
						top: 0;
					}

					& .header__bottom_menu {
						.cols(16);

						& ul, .special_link {
							width: 100%;
							flex: none;

							& li {
								margin-bottom: 10px;
								width: 100%;

								& a {
									display: block;
								}

								& .submenu_wrap {
									opacity: 1;
									visibility: visible;
									display: none;
								}
							}
						}
					}

					& .header__bottom_search {
						width: 100%;
					}

					& .close_button {
						display: block;
						background: url(../images/elements/close.svg);
						background-repeat: no-repeat;
						padding: 6px;
						position: absolute;
						right: 10px;
						top: 10px;
						width: 0;
						height: 0;
						cursor: pointer;
						z-index: 999;
					}

					& .mobile_menu_button {
						display: block;
					}
				}

				& .header__bottom_menu {
					.cols(13);
					.flex();
					justify-content: space-between;
					align-items: center;

					@media @d {
						.cols(16);
					}
					@media @t {
						.cols(16);
					}

					& > ul {
						.flex();
						justify-content: space-between;
						align-items: center;
						flex: 5.5;

						&.special_link {
							flex: 1;
							justify-content: flex-end;
						}
						
						& > li {
							margin-bottom: 0;
							margin-right: 10px;

							@media @d {
								margin-right: 0;
							}
							@media @t {
								margin-right: 5px;
							}
							
							& > a {
								.animation();
								color: @colorBlack;
								font-family: @fontGeomBold;
								text-transform: uppercase;
								border: 1px solid transparent;
								border-radius: 5px;
								font-size: 12pt;
								padding: 10px 10px 8px;

								@media @t {
									font-size: 10pt;
									padding: 6px 4px 4px;
								}
								@media @mBig, @m {
									font-size: 10pt;
									padding: 6px 10px 2px;
								}
								
								&:hover {
									color: @colorRed;
									border: 1px solid @colorRed;
								}
								
								&.special_link {
									color: @colorRed;
									position: relative;
									padding-left: 34px;

									&.nopadding {
										padding-left: 10px;
									}
									
									& svg {
										position: absolute;
										top: 5px;
										left: 5px;
										margin-right: 15px;

										@media @t {
											top: 0;
										}
									}
								}
							}
							
							&.active {
								
								& > a {
									color: @colorRed;
									border: 1px solid @colorRed;									
								}
							}

							&:hover {

								& .submenu_wrap {
									opacity: 1;
									visibility: visible;

									& ul {
									}
								}
							}

							& .submenu_wrap {
								.flex();
								.animation(0.2s);
								background: @colorWhite;
								box-shadow: 10px 10px 30px -10px @colorBlack;
								justify-content: space-between;
								opacity: 0;
								visibility: hidden;
								position: absolute;
								width: 60%;
								left: 50%;
								transform: translateX(-50%);
								top: 40px;
								overflow: hidden;
								transition-delay: 0.3s;
								z-index: 100;
								min-width: 750px;

								& ul {
									.cols(11);
									padding: 20px 0 20px 30px;

									& li {
										.cols(8);
										display: inline-block;
										margin-bottom: 15px;

										& a {
											.animation();
											color: @colorBlack;
											font-size: 10pt;
											border: 0;

											&:hover {
												color: @colorRed;
											}
										}
									}
								}

								& .submenu_item {
									.cols(5);
									box-shadow: 0 0 30px -10px @colorBlack;
									padding: 0 20px 30px;
									text-align: center;

									&:hover {

										& .submenu__item_img {

											& img {
												transform: scale(1.4, 1.4);
											}
										}

									}

									& .submenu__item_img {
										overflow: hidden;
										cursor: pointer;
										margin: 20px 0;

										& img {
											.animation(3s, transform);
										}
									}

									& .submenu__item_title {

										& a {
											color: @colorBlack;
											font-size: 9pt;
											border: 0;
										}
									}

									& .submenu__item_article {

										& p {
											color: @colorGrayDark;
											font-size: 9pt;
										}
									}

									& .submenu__item_link {

										& a {
											border: 1px solid @colorRed;
											color: @colorRed;
											font-size: 11pt;
											background: transparent;

											&:hover {
												background: @colorBlack;
												color: @colorWhite;
											}
										}
									}
								}
							}
						}
					}
				}

				& .header__bottom_search {
					.cols(3);

					@media @d {
						margin: 10px 0 0 auto;
					}
					@media @t {
						.cols(5);
						margin: 10px 0 0 auto;
					}

					& form {
						position: relative;

						& input {
							.animation();
							border: 1px solid @colorGray;
							margin: 0 0 0 auto;
							display: table;
							padding: 6px 20px;
							width: 120px;
							border-radius: 5px;

							&.active {
								width: 100%;
							}
						}

						& button {
							background: transparent;
							position: absolute;
							padding: 0;
							top: 6px;
							right: 6px;

							&:hover {
								transform: scale(1.2);
							}
						}
					}
				}
			}
		}
	}
}