//-------------------------------------------------------------------------//
		// Animation KeyFrames //
//-------------------------------------------------------------------------//

@keyframes spin { from {transform: rotate(0deg)  } to { transform: rotate(360deg) }   }
@keyframes shake {  10%, 90% {    transform: translate3d(-1px, 0, 0);   } 20%, 80% {transform: translate3d(2px, 0, 0);}  30%, 50%, 70% { transform: translate3d(-4px, 0, 0);  }  40%, 60% {    transform: translate3d(4px, 0, 0);  }}
@keyframes modalComeIn { 0% {transform: scale(0, 0);} 65.5% {transform: scale(1.03, 1.03);} 100% {transform: scale(1, 1);} }
@keyframes modalComeInClose { 0% { transform: scale(1, 1); opacity: 1;} 65.5% {transform: scale(1.1, 1.1);}  100% {transform: scale(.8, .8); opacity: 0;} }


@keyframes bgAnim { 0% { background-position: 100% 100%;} 20% {background-position: 95% 95%;}  50% {background-position: 98% 93%;}  80% {background-position: 94% 98%;}  100% {background-position: 100% 100%;}}

@keyframes cloud { from {background-position: 0 0 } to { background-position: -1920px 0 }   }


@keyframes pulse {
	from { transform: scale(1); }
	50% { transform: scale(1.25); }
	to { transform: scale(1); }
}

@keyframes modalComeIn { 0% {transform: scale(.8, .8);} 65.5% {transform: scale(1.03, 1.03);} 100% {transform: scale(1, 1);} }

@keyframes modalComeInClose { 0% {transform: translateY(0) scale(1, 1); opacity: 1;} 100% {transform: translateY(35px) scale(.97, .97); opacity: 0;} }
//-------------------------------------------------------------------------//
		// Animation //
//-------------------------------------------------------------------------//


.shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}


html {
	overflow-x: hidden;
	min-width: 320px;

	&.noscroll {
		overflow: hidden;
	}
}

body {
	font-family: @fontGeom;
	color: @colorBlack;
	overflow-x: hidden;
	min-width: 320px;
}

button {
	font-family: @fontGeom;
}

fieldset {
	border: 0;
}

//-------------------------------------------------------------------------//
// Typograph //
//-------------------------------------------------------------------------//


h1, .h1 {
	font-family: @fontGeomBold;
	font-size: 16pt;
	text-transform: uppercase;
	margin: 10px 0 20px;

	@media @t {
		font-size: 15pt;
	}
	@media @mBig {
		font-size: 13pt;
	}
	@media @m {
		font-size: 12pt;
	}
}

h2, .h2 {
	font-family: @fontGeomBold;
	font-size: 13.4pt;
	margin: 20px 0 10px;

	@media @t {
		font-size: 12pt;
	}
	@media @mBig, @m {
		font-size: 11pt;
	}
}

h3, .h3 {
	font-family: @fontGeomBold;
	font-size: 11pt;
	margin: 20px 0 10px;
}
p {
	font-size: 12pt;
	margin-bottom: 10px;

	@media @t {
		font-size: 11pt;
	}
	@media @mBig, @m {
		font-size: 10pt;
	}
}


ul, ol {
	& li {
		font-size: 12pt;
		margin-bottom: 10px;

		@media @t {
			font-size: 11pt;
		}
		@media @mBig, @m {
			font-size: 10pt;
		}
	}
}

button, .button {
	.animation();
	background: @colorRed;
	color: @colorWhite;
	padding: 8px 25px 6px 25px;
	font-size: 12pt;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	border: 0;
	display: inline-block;
	line-height: 1.2em;

	@media @t {
		font-size: 11pt;
	}
	@media @mBig, @m {
		font-size: 10pt;
	}

	&:hover {
		background: @colorBlack;
	}
}


//-------------------------------------------------------------------------//
// Growl //
//-------------------------------------------------------------------------//



.jGrowl-notification .jGrowl-close {
	padding: 0 10px;
}

.jGrowl-closer {
	padding: 10px;
	margin: 0;
	border-radius: 0;
}