.preloader  {
    transition: all 0.4s;
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8c003d url(/assets/template/images/preloader.svg) center center no-repeat;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.preloader-small {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50px;
}