//-------------------------------------------------------------------------//
		// To Up //
//-------------------------------------------------------------------------//

.toUp {
	.animation();
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 999;

	@media @m {
		display: none;
	}


	&:hover {
		transform: translateY(-10px);
	}
}

