[[$StartPage]]
[[$Header]]
<main>
    <div class="about__block">
        <div class="about__content_block_text">
            <div class="container">
                <div class="text_wrap">
                    <div class="wrap_left">
                        [[$Crumbs]]
                        <div class="about__block_title">
                            <h1>[[*pagetitle]]</h1>
                        </div>
                        [[*content]]
                    </div>
                    <div class="wrap_right">
                        <img data-src="/assets/template/images/content/leftimg.png"  class="lazyload" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="about__block_text">
            <div class="container">
                <div class="text_wrap">
                    <div class="text_wrap_left">
                        <h2>5 причин, почему все клиенты цветочной мастерской BANT становятся постоянными</h2>
                        <ul>
                            <li>Авторские букеты и композиции, под каждое событие и для каждого особенного человека в вашей жизни. Наши флористы создадут букет мечты эксклюзивно для вас, в полном соответствии с вашими пожеланиями. Просто позвоните нам и расскажите пару слов о получателе и его предпочтениях.</li>
                            <li>Доставка цветов всегда к удобному вам времени</li>
                            <li>Широкий спектр услуг по флористическому оформлению и сопровождению торжественных мероприятий традиционных праздников, свадеб, конференции, тренингов, фуршетов</li>
                            <li>Скидки и подарки нашим постоянным клиентам</li>
                            <li>Предлагаем удобные именно вам способы оплаты</li>
                        </ul>
                        <div class="social_block">
                            <p class="title">Мы хотим быть ближе к Вам</p>
                            <div class="about_social">
                                [[$SocialBlock]]
                            </div>
                        </div>
                    </div>
                    <div class="text_wrap_right">
                        <img data-src="/assets/template/images/about/girls.png"  class="lazyload" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="about__block_author">
            <div class="container">
                <div class="block_author">
                    <div class="block_author_left">
                        <img data-src="/assets/template/images/about/img.png"  class="lazyload" alt="">
                    </div>
                    <div class="block_author_right">
                        <p>«Добро пожаловать в мир флористики, в мир честных чувств, которые окутывают нас ароматными флюидами, и где каждый цветок дарит нам свою мимолетную красоту»</p>
                        <p class="copyright">Основатель BANT, Светлана Тюрина.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
[[$Footer]]
[[$StopPage]]

