[[$StartPage]]
[[$Header]]
<main>
    <div class="article__block">
        <div class="container">
            [[$Crumbs]]
            <div class="article__block_title">
                <h1>[[*pagetitle]]</h1>
            </div>
            <div class="article__block_items" id="pdopage">
                [[!+page.nav]]
                <div class="rows">
                    [[!pdoPage?
                        &parents=`[[*id]]`
                        &limit=`12`
                        &ajaxMode=`button`
                        &ajaxTplMore = `@INLINE <div class="pagination_more"><button class="btn btn-default btn-more">Показать еще</button></div>`
                        &tpl=`ArticleTeaser`
                        &includeTVs=`Article_img_small`
                    ]]
                </div>
            </div>
        </div>
    </div>
</main>
[[$Footer]]
[[$StopPage]]

