[[$StartPage]]
[[$Header]]
<main>
    <div class="b2b">
        <div class="container">
            <div class="b2b__title">
                <h1>[[*longtitle]]</h1>
            </div>
            [[*OfferLink:notempty=`
              <div class="b2b__offer">
                <p class="b2b__offer_text">[[*OfferText]]</p>
                <a class="b2b__offer_link button nopreload" href="[[*OfferLink]]"  target="_blank">Посмотреть</a>
              </div>
            `]]
        </div>
        [[$Callback_b2b?
            &title = `Получить индивидуальное предложение, учитывая бюджет и Ваши пожелания`
            &text_1 = `На эту почту мы направим Вам выгодное предложение`
            &text_2 = `По этому номеру наш менеджер позвонит, чтобы убедиться, что Вы получили предложение`
            &text_3 = `Заявка Вас ни к чему не обязывает. Вы можете отказаться в любой момент`
            &count = `0`
        ]]
        [[$Cause]]
        <div class="clients">
            <div class="container">
                <div class="b2b__clients_title">
                    <h2 class="h1">Наши клиенты</h2>
                </div>
                <div class="b2b__clients_block">
                    [[!GetImageCollection?
                        &url_img = `clients/`
                    ]]
                </div>
            </div>
        </div>
        [[$Callback_b2b?
            &title = `Уникальные корпоративные букеты <br> с быстрой доставкой по СПб от 950 руб/шт`
            &text_1 = `На эту почту мы направим Вам выгодное предложение`
            &text_2 = `По этому номеру наш менеджер позвонит, чтобы убедиться, что Вы получили предложение`
            &text_3 = ``
            &count = `1`
        ]]
    </div>
</main>
[[$Footer]]
[[$StopPage]]
