[[$StartPage]]
[[$Header]]
<main>
    <div class="card">
        <div class="container">
            <div class="card__wrap">
                [[$Crumbs]]
                <div class="card__main">
                    [[$ProductItem]]
                </div>
            </div>
        </div>
    </div>
    [[$SlickCatalog?
        &title = `ДОБАВЬТЕ К БУКЕТУ КРАСИВЫЙ ПОДАРОК`
        &idParent = `447`
        &class= `slick__surprise`
    ]]

    [[$Review]]

    [[$SlickCatalog?
        &title = `Похожие товары`
        &idParent = `[[*parent]]`
        &class= `slick__card`
    ]]
    [[$Callback?
        &title=`ОСТАЛИСЬ ВОПРОСЫ? <br> МЫ С УДОВОЛЬСТВИЕМ НА НИХ ОТВЕТИМ?`
        &class=`card_callback`
        &text_button = `Позвоните мне`
    ]]
</main>
[[$Footer]]
[[$StopPage]]