[[$StartPage]]
[[$Header]]
<main>
    <div class="catalog">
        <div class="container">
            <div class="catalog__top">
                [[$Crumbs]]
                <div class="catalog__title">
                    <h1>[[*pagetitle]]</h1>
                </div>
                <nav class="catalog__menu">
                    [[$CatalogMenu?
                    &id = [[*id]]
                    ]]
                </nav>
            </div>
        </div>
        <div class="catalog__main">
            [[$CatalogItems]]
        </div>
    </div>
    [[$Soviet]]
    [[$Advantages]]
    [[$HowBuy]]
</main>


[[$Footer]]
[[$StopPage]]

