[[$StartPage]]
[[$Header]]
<main>
   <div class="contacts">
       <div class="container">
           <div class="contacts__block">
               <div class="contacts__block_content">
                   [[$Crumbs]]
                   <div class="contacts__block_title">
                       <h1>[[*pagetitle]]</h1>
                   </div>
                   <div class="contacts__block_text">
                       [[*content]]
                   </div>
                   <div class="contacts__block_social">
                       [[$SocialBlock]]
                   </div>
                   <div class="contacts__block_text">
                       [[*contact_content_plus]]
                   </div>
               </div>
               <div class="contacts__block_map">
                   <div id="map"></div>
                   <div class="contacts__block_address">
                       <div class="contacs_address" data-address="Санкт-петербург, улица Благодатная, 30 (м. Электросила)">
                           [[IncSvg? &svg=`elements/map-icon-0.svg`]]
                           <h3>улица Благодатная, 30 (м. Электросила)</h3>
                           <p>ежедневно с 09.00 до 22.00. Выдача готовых заказов с 8.30.</p>
                           <p>+7 (812) 967-27-62</p>
                       </div>
                       <div class="contacs_address" data-address="Санкт-петербург, улица Фурштатская, 46Б (м. Чернышевская)">
                           [[IncSvg? &svg=`elements/map-icon-1.svg`]]
                           <h3>улица Фурштатская, 46Б (м. Чернышевская)</h3>
                           <p>ежедневно с 09.00 до 22.00. Выдача готовых заказов с 8.30.</p>
                           <p>+7 (812) 967-27-62</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</main>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
[[$Footer]]
[[$StopPage]]
