[[$StartPage]]
[[$Header]]
<main>
    <div class="main__slick_block">
        [[$SlickCatalog?
            &idParent = `188`
            &class= `slick__main`
        ]]
        [[$SlickCatalog?
            &idParent = `189`
            &class= `slick__main`
        ]]
        [[$SlickCatalog?
            &idParent = `447`
            &class= `slick__main`
        ]]
        [[$SlickCatalog?
            &idParent = `448`
            &class= `slick__main`
        ]]
        [[$SlickCatalog?
            &idParent = `447`
            &class= `slick__main`
        ]]
        [[$SlickCatalog?
            &idParent = `448`
            &class= `slick__main`
        ]]
    </div>
    [[$Callback]]
    [[$Content]]
    [[$Advantages]]
    [[$HowBuy]]
</main>
[[$Footer]]
[[$StopPage]]