[[$StartPage]]
[[$Header]]
<main>
    <div class="catalog">
        <div class="container">
            <div class="catalog__wrap">
                <div class="catalog__left">
                    <div class="catalog__menu_backlink">
                        <a href="/">[[IncSvg? &svg=`elements/arrow.svg`]] <span>на главную</span></a>
                    </div>
                    [[$CatalogMenu]]
                </div>
                <div class="catalog__main">
                    <div class="catalog__main_top">
                        <div class="catalog__main_title">
                            <h1>[[*pagetitle]]</h1>
                        </div>
                        <div class="catalog__main_filter">
                            <div class="filter_toggle">
                                [[IncSvg? &svg=`elements/filter.svg`]]
                                <p>фильтр</p>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__main_bottom">
                        [[!mSearch2?
                            &tplWrapper=`CatalogItems`
                        ]]
                    </div>
                </div>
            </div>
        </div>
    </div>
    [[$About]]
    [[$Advantages]]
    [[$HowBuy]]
    [[$Callback]]
</main>


[[$Footer]]
[[$StopPage]]

