[[$StartPage]]
[[$Header]]
<main>
    <div class="shipping__block">
        <div class="container">
            [[$Crumbs]]
            <div class="shipping__block_title">
                <h1>[[*pagetitle]]</h1>
            </div>
            <div class="shipping__block_content">
                [[*content]]
            </div>
        </div>
        <div class="zone__block">
            <div class="container">
                <div class="zone__block_text">
                    [[*content_zone]]
                </div>
            </div>
            <div class="zone__block_map">
                <img src="/assets/template/images/shipping/map.jpg" alt="">
            </div>
        </div>
        <div class="container">
            <div class="shipping__block_content_plus">
                [[*content_plus]]
            </div>
        </div>
    </div>
</main>
[[$Footer]]
[[$StopPage]]
